body{
    background-image: url(https://media.giphy.com/media/DITaUdrnjzw4g/giphy.gif);
    background-size: cover;
}
#sign-in{   
    max-width: 400px;
}
#inputEmail3,
#inputPassword3{
    background: rgba(245, 245, 245, 0.705);
    font-weight: 700;
}

